/*ESTILO FUTURISTA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;    
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
:root {
    --colorFondoWeb: #17181b;
    --colorRotulos: #45625b;
    --colorTituloPrincipal: #e2e5e9;
    --colorBordeTitulo: #3d5b50;
    --colorFormFocus: #74a197;
    --colorFondoForm:#b3c9c3;
    --colorFormSelected:#9ebab2;
    --colorBotones: #212e29;
    --colorBordeBoton:#3d5b50;
    --colorBordeText: #768982;
}
body{
    background-image: url(../img/robot.png);
    background-repeat: no-repeat;
    background-color: rgb(104, 125, 241);
    background-position: 125% 115px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
h1{
    color: rgb(0, 68, 255); 
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 3em;
}

h1::before {
    content: url(../img/emoji-future.png);
}

h1::after {
    content: url(../img/emoji-future.png);
}

button::after {
    content: url(../img/emoji-future.png);
}

button::before {
    content: url(../img/emoji-future.png);
}

.pretitle {
    border-bottom: 15px solid rgb(25, 0, 139);
    clip-path: polygon(0 0, 100% 0, 99% 100%, 1% 100%);
}
.posttitle {
    border-top: 15px solid rgb(255, 255, 255);
    clip-path: polygon(1% 0, 99% 0, 100% 100%, 0 100%);
}
fieldset{
    background-color: var(--colorFondoForm);
    padding: 20px;
    margin-top: 10px;
    background-image: url(../img/estrellas.jpg);
    background-size: 100%;
    background-position: center;
    color: white; 
    border-radius: 20px;   
}
legend{
    color: var(--colorTituloPrincipal);
    background-image: url(../img/fondo-futuro-2.svg);
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
}
p{
    padding: 5px;
}
label{
    padding: 5px;
    color: gold;
}
.input-largo {
    width: 70%;
    height: 30px;
    border: 1px solid var(--colorBordeText);
    border-radius: 5px;
}
input:focus {
    background-color: var(--colorBordeTitulo);
    color: var(--colorTituloPrincipal);
}
textarea:focus {
    background-color: var(--colorBordeTitulo);
    color: var(--colorTituloPrincipal);
}
fieldset:focus{
    background-color: var(--colorFormFocus);
}
.input-largo-area {
    height: 100px;
}
#datos{
    text-align: center;
}
#contacto{
    text-align: center;
}
form input::placeholder{
    text-align:right;
}
footer{
    margin-top: 30px;
    margin-bottom: 30px;
    color:var(--colorTituloPrincipal)
}
#accion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
button{
    background: rgb(7,8,20);
    background: linear-gradient(0deg, rgba(7,8,20,1) 1%, rgba(2,100,210,1) 27%, rgba(24,94,167,1) 64%, rgba(24,216,217,1) 100%);
    padding: 25px;
    margin: 25px;
    font-size: 20px;
    color: var(--colorTituloPrincipal);
    border: 2px solid var(--colorBordeBoton);
    border-radius: 5px;   
    justify-content: center;
}
#cambioCss{
    background-image: url(../img/dado.svg);
}